*{
    margin: 0;
    padding: 0;
    font-family: Lato, monospace, roboto, arial;
}
div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.comb {
    font-size: 15px;
    font-style: italic;
}
.btn.btn-primary.btn-lg.btn-block {
    margin:  20px auto;
    padding: 50 px;
    background-color: #1a237e;
    color: #ffb300;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Lato, monospace, roboto, arial;
    width: 40%;
}
.btn.btn-primary.btn-lg.btn-block:hover {
    background-color: #000051;
    cursor: pointer;
}
@media only screen and (max-width: 1181px) {
    .btn.btn-primary.btn-lg.btn-block {
        width: auto;
    }
}
